
/**
 * Container/Target Styles
 */

.mix-holder .container {
    background: none;
    text-align: justify;
}

.mix-holder .container .mix,
.mix-holder .container .gap {

}

.mix-holder .container .mix {
    display: none;
}


/* MixItUp Doctors Pages */
.search-field-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-field-div fieldset {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: transparent;
    padding: .5em;
    border-radius: 3px;
}

.search-field-div fieldset select {
    width: 90%;
}

.search-field-div fieldset h2 {
    font-family: inherit;
    color: #333;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 1em;
}

.search-field-div label {
    font-weight: 300;
}

.search-field-div button.dr-clear-btn {
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    margin: 0 .2em;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: .25em;
    cursor: pointer;
}

.search-field-div button.active {
    background: #68b8c4;
}

.search-field-div button:focus {
    outline: 0 none;
}

.search-field-div button:first-of-type {
    margin-left: 0;
}

.search-field-div button:last-of-type {
    margin-right: 0;
}

.search-field-div button:focus {
    outline: 0 none;
}

.search-field-div .controls {
    background: #ffffff;
    padding: 2%;
}

.search-field-div .checkbox {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
}


.dr-clear-btn, .dr-clear-btn:active, button.dr-clear-btn:focus {
    margin: 2em auto 0 auto;
    display: block;
    width: 200px;
    background: var(--main-button-background-color);
    border-radius: 0;
    outline: none;
    border: none;
    color: var(--main-button-color);
    padding: 8px;
    text-transform: uppercase;
    transition: 0.1s;
    font-weight: 300;
}

.dr-clear-btn:hover {
    background: var(--main-button-background-color-hover);
    color: #fff;
}

#errorMessage {
    margin-top: 2em;
    text-align: center;
    height: 1em;
}

