
.doctors-section {
    background-color: #929191;
}

.doctors-container {
    padding: 2em 0;
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
}

.cpt-doctor-image-link {
    width: 20%;
    padding: 1.5em;
    background: none;
}

.cpt-doctor-image-link > a {
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #333;
}

.cpt-doctor-image-link > a:hover {
    color: blue;
}

.cpt-doctor-image-link img {
    width: 100%;
    box-shadow: 0 8px 11px rgba(41, 48, 55, 17);
    transition: all 0.2s ease-in-out;
    border: 1px solid #d8d8d8;
}

.cpt-doctor-image-link a:hover img {
    box-shadow: 0 2px 3px rgba(41, 48, 55, 17);
}

.flex-wrapper.flex-start {
    justify-content: flex-start;
}

.flex-wrapper.flex-between {
    justify-content: space-between;
}

.doctor-name {
    margin-top: 0.5em;
    margin-bottom: 10px;
    line-height: 1;
}

.cpt-location-info a {
    text-decoration: none;
}

.cpt-location-info .flex-wrapper > div:first-child {
    width: 33%;
    padding-right: 2em;
}

.cpt-location-info .flex-wrapper > div:nth-child(2) {
    flex: 1;
}

.cpt-location-info iframe {
    width: 100%;
}

.cpt-location-info h2 {
    margin-bottom: 0.7em;
}

.location-phone-list {
    list-style: none;
    padding-left: 0;
    margin: 1em 0;
}

.phone-note {
    font-size: 0.9em;
    margin-top: -0.5em;
    display: block;
    font-style: italic;
}

.location-services {
    margin: 3em auto;
}

.doctor-featured-image {
    margin-bottom: 1em;
}

/* Single Doctors */
.single-doctor-wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-doctor-wrapper > div:first-child {
    width: 20%;
    border-right: 1px solid #d8d8d8;
    padding-right: 2em;
}

.single-doctor-wrapper > div:nth-child(2) {
    padding-left: 2em;
    width: 80%;
}

.doctor-specialties-locations ul {
    list-style: none;
    padding-left: 0;
    margin: 1em 0;
}

.single-doctors .doctor-specialties-locations h3 {
    margin-bottom: 10px;
}

h3.doctor-additional-specialties {
    color: #0a4b78;
    font-size: 1.1em;
    margin-top: 0;
    text-transform: uppercase;
}

/* MixItUp Doctors Pages */
.mix-holder .container {
    background: none;
    text-align: justify;
}

.mix-holder .container .mix {
    display: none;
}

.search-field-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-field-div fieldset {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: transparent;
    padding: .5em;
    border-radius: 3px;
}

.search-field-div fieldset select {
    width: 90%;
}

.search-field-div fieldset h2 {
    font-family: inherit;
    color: #333;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 1em;
}

.search-field-div label {
    font-weight: 300;
}

.search-field-div button.dr-clear-btn {
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    margin: 0 .2em;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: .25em;
    cursor: pointer;
}

.search-field-div button.active {
    background: #68b8c4;
}

.search-field-div button:focus {
    outline: 0 none;
}

.search-field-div button:first-of-type {
    margin-left: 0;
}

.search-field-div button:last-of-type {
    margin-right: 0;
}

.search-field-div button:focus {
    outline: 0 none;
}

.search-field-div .controls {
    background: #ffffff;
    padding: 2%;
}

.search-field-div .checkbox {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
}

.dr-clear-btn, .dr-clear-btn:active, button.dr-clear-btn:focus {
    margin: 2em auto 0 auto;
    display: block;
    width: 200px;
    background: var(--main-button-background-color);
    border-radius: 0;
    outline: none;
    border: none;
    color: var(--main-button-color);
    padding: 8px;
    text-transform: uppercase;
    transition: 0.1s;
    font-weight: 300;
}

.dr-clear-btn:hover {
    background: var(--main-button-background-color-hover);
    color: #fff;
}

#errorMessage {
    margin-top: 2em;
    text-align: center;
    height: 1em;
}

@media (max-width: 991px) {

    .doctor-specialties-locations {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .doctor-specialties-locations > div {
        width: 50%;
    }

    .cpt-doctor-image-link {
        width: 33%;
    }

    .single-doctor-wrapper > div:first-child {
        width: 100%;
        border-right: none;
        padding-right: 0;
    }

    .single-doctor-wrapper > div:nth-child(2) {
        padding-left: 0;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .cpt-doctor-image-link {
        width: 50%;
    }

    .cpt-location-info .flex-wrapper > div:first-child {
        width: 100%;
        padding-right: 0;
    }

    .cpt-location-info .flex-wrapper > div:nth-child(2) {
        flex: auto;
    }
}

@media (max-width: 479px) {

    .doctor-specialties-locations > div {
        width: 100%;
    }

    .cpt-doctor-image-link {
        width: 100%;
    }
}