.phone-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    background: var(--gl-button-bg);
    color: var(--gl-button-color);
    transition: 0.2s;
}

.phone-modal-button svg,
.phone-numbers-modal svg {
    color: currentColor;
}

.phone-modal-button:hover {
    background: var(--gl-button-bg-hover);
    color: var(--gl-button-color-hover);
}

.phone-numbers-modal .modal__container {
    position: relative;
    padding: 30px;
    width: 95%;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;
    max-width: 1400px;
}

.phone-list-div {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
}

.phone-link {
    color: #000;
    background-color: #fff0;
    align-items: center;
    gap: 10px;
    line-height: 1em;
    text-decoration: none;
    display: flex;
}

@media (max-width: 991px) {

    .phone-numbers-modal svg {
        width: 20px;
        height: 20px;
    }

    .phone-list-div {
        padding: 40px 0px;
        grid-template-columns: 1fr;
        font-size: 1rem;
        gap: 15px 0;
    }

    .phone-numbers-modal .modal__container {
        position: relative;
        padding: 10px;
    }
}